* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


// ##12080A
$colors : ( // primary: #373A46,
    primary: #2b070a,
    accent: #fff,
    text: #2B070A,
    primary-light: lighten(#29292f, 40%),

    primary-dark: darken(#29292f, 40%),
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}



body {
    font-family: 'Montserrat', sans-serif, ;
    font-size: 16px;
    // background: linear-gradient(90deg, rgb(73, 72, 72), rgb(27, 27, 27));
    background: color(primary);

}

a {
    text-decoration: none;
    color: color(text);
}

ul {
    list-style: none;
}

i {
    display: inline-block;
    margin-right: 10px;
}

.container {
    width: 90%;
    margin: auto;
}

.btn {
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 15px;
    background-color: #fff;
    color: #2B070A;
    font-weight: 500;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 50px;
    border-bottom: 1px solid color(text);
    background: #fff;

    .logo {
        width:100px;
        height:100px;
        align-self: center;
    }

    ul {
        display: flex;
        align-content: center;
        justify-content: flex-end;

        li {
            margin-right: 15px;
            align-self: center;
            font-weight: 500;
            
            
        }
        .menu-link{
            padding: 10px;
            border: 1px solid color(primary);
        }

    }

    @media (max-width:812px) {
        padding: 20px 10px ;

       
    }
}

.showcase {
    background: url('/ram-ho-6mBwOs9RohM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 80%;
    width: 100%;
    color: color(accent);
    display: flex;
    flex-direction: column;
    text-align: center;
    // justify-content: center;
    height: 70vh;
    padding: 50px 0;

    p {
        font-size: 4.5em;
        padding-bottom: 20px;
        font-weight: 600;

        span {
            font-size: 0.5em;
            font-weight: 400;
            opacity: 0.8;
        }

    }
    .showcase-list {
        padding: 0 0 10px 0;
        display: flex;
        justify-content: center;
        li {
            margin-left: 15px;
        }
     }

    .btn {
        margin-top:10px;
        margin-left: 10px;
        display: inline-block;
    }

    @media (max-width:812px) {

        max-height: 400px;
        flex-direction: column;
        padding: 0;

        p {
            font-size: 2.5em;
            padding-top: 10%;
            justify-self: flex-start;

        }
        

        .call-to-action {
            display: flex;
            width: 100%;
            margin-top: 50px;
            justify-content: center;

            
        }
    }

}

.home-grid {
    background: #fff;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    color: color(text);

    div {
        background: #fff;
        text-align: center;
        padding: 10px 0;
        border-radius: 20px;


    }

    .grid-header {
        font-size: 1.5em;
        padding-bottom: 20px;
    }

    i {
        padding: 5px 0;
    }

    @media screen and (max-width:812px) {
        grid-template-columns: 1fr;
    }
}

.location {

    width: 90%;
    margin: auto;
    background-color: color(primary);
    color: color(accent);
    padding-bottom: 10px;

    p {
        font-size: 2.5em;
        font-weight: 500;
        padding: 20px 0;

    }

    iframe {
       
        height: 350px;
        border-radius: 15px;
        width: 100%;

    }



    @media screen and (max-width:820px) {

        // grid-gap: 30px;
        iframe {
            margin: auto;
            border-radius: 10px;
        }

    }
}

footer {
    // min-height: 50px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background: color(primary);
    border-top: 1px solid #fff;
    ul {
        display: flex;
        justify-content: center;

        i {
            color: #fff;
        }

        li {
            align-self: center;
            padding-right: 10px;
        }
    }
}

//menu page
#menu-page {
    // background: color(primry);

    main {
        background: #000;
        

        img {
            width: 100%;
            height: 600px;
            border-radius: 25px;
            border: 3px solid #fff;
        }

        .gallery {
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;

        }
        footer {
            background: none;
        }
    }

    .mobile-gallery {
        display: none;
        margin: 0 auto;
        padding: 20px ;
    }

    @media screen and (max-width: 820px) {
        .gallery {
            display: none;

        }

        .mobile-gallery {
            display: block;
        }

    }
}